html, body {
    font-family: 'Open Sans', sans-serif;
}

.app-menu{
    margin-bottom:20px;
}

.app-menu a {
    color:#2980b9;
}

.login-form{
    max-width:400px;
}

.app-form .submit-button{
    font-size:1.2em;
    margin-top:10px;
    padding:5px 10px;
}

.app-form .field {
    margin-bottom:10px;
}

.app-form .field input {
    width:90%;
    padding:5px;
    border:solid 1px #666;
}

.app-form .field.error input {
    background:#fff3f3;
    border:solid 1px red;
}
  
.app-form .field.error .error{
    color:red;
    font-size:0.8em;
}

.add-contact-form {
    position:fixed;
    background: #ECECEC;
    left: -380px;
    top: 0;
    width:300px;
    height:100vh;
    padding:40px;
    transition: all 0.6s;
}

.add-contact-form .close-button{
    position:absolute;
    right:40px;
    top:48px;
    font-size:2em;
    color:#AAA;
    cursor:pointer;  
}

.add-contact-form .loader{
    font-size:24px;
    display:none;
  }
  
.add-contact-form.visible {
    left: 0px;
}

.add-contact-form.loading .submit-button{
    display:none;
}

.add-contact-form.loading .loader{
    display:block;
}
  
.add-contact-form.loading input{
    pointer-events: none;
    opacity:0.5;
}

.contact-list{
    border-top: solid 1px #ECECEC;
}
  
.contact-list .contact {
    display:flex;
    flex-direction: row;
    padding:10px 0;
    border-bottom: solid 1px #ECECEC;
}
  
.contact-list .contact .name {
    width:240px;
}
  
.contact-list .contact .phone {
    width:180px;
}

.contact-list .contact .actions .delete {
    color:red;
}

.contact-details .row{
    display:flex;  
    margin-bottom:10px;
}
  
.contact-details .row .title {
    width:220px;
    font-weight:bold;
}

.contact-avatar {
    display:block;
    width:256px;
    height:256px;
    margin-top:40px;
    background-size: contain;
    border: solid 2px #333;  
}

.notifications{
    margin-bottom:20px;
}
  
.notifications .type-error {
    color:red;
    font-weight:bold;  
}